{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "esmodules": true
          }
        }
      }
    ]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      }
    ],
    [
      "import",
      {
        "libraryName": "@mui/material",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "import",
      {
        "libraryName": "@mui/icons-material",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "icons"
    ],
    [
      "import",
      {
        "libraryName": "@mui/lab",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "lab"
    ]
  ]
}
